/functions/fp/__pycache__/*.pyc
/functions/cp/__pycache__/*.pyc
/functions/dp/__pycache__/*.pyc
/functions/dcop/__pycache__/*.pyc
/functions/utils/__pycache__/*.pyc
/functions/__pycache__/*.pyc
/sample_data/*/*/*.xml
/__pycache__/*.pyc
